{% load static %}
{% if user.is_authenticated %}
  <p>Welcome, {{ user.email }}!</p>
  <a href="{% url 'account_logout' %}">
    Logout
  </a><br>
{% endif %}

{% for challenge in challengeList %}
    <!-- Name -->
    {{challenge.name}}
    <br/>
    <!-- discription -->
    {{challenge.discription}}
    <br/>
    <!-- Goal -->
    goal: {{challenge.targetCount}} {{challenge.workoutName}}
    <br/>
    <!-- current -->
    We have done: {{challenge.currentCount}} {{challenge.workoutName}}
    <br/>
    <!-- time left -->
    time left:
    <br/>
{% endfor %}

{% if user.is_authenticated %}
Your pushup vids:
<br/><br/>
Upload a video:

<!-- <form id="FormStarter">
    {% csrf_token %} 
</form>
    <label for="img">Select video:</label>
    <input type="file" id="videoInput" accept="video/*"/>
    <button id="submit">
        Submit
    </button> -->
<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
</form>
    
{% for video in user_videos %}

<video width='400' controls>
<source src='{{ MEDIA_URL }}{{ video.videofile }}' type='video/mp4'>
Your browser does not support the video tag.
</video>

{% endfor %}

{% else %}
<p>Welcome, 
    <a href="{% url 'account_login' %}">
    Log in
    </a>

    to submit your own video</p>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'Landing/js/go.js' %}"></script>
